<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <!--meta tag supported by google (check https://support.google.com/webmasters/answer/79812?hl=ja)-->
        <meta name="Description" CONTENT="ここにページのディスクリプション">
        <meta name="google-site-verification" content=""/>
        <meta name="robots" content="noindex,nofollow"><!--ページをサーバーにあげても検索結果に表示されません-->
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Haruki Kawashita">
        <!--Setting ogp-->
        <meta property="og:title" content="ここにタイトル" >
        <meta property="og:type" content="ここにタイプ" >
        <meta property="og:url" content="ここにページのURL" >
        <meta property="og:image" content="ここにサムネイル画像のURL" >
        <meta property="og:site_name" content="ここにサイト名" >
        <meta property="og:description" content="ここにページのディスクリプション" >
        <!--Facebook ogp-->
        <meta property="fb:app_id" content="App-ID（15文字の半角数字）" >
        <!--Twitter cards-->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@Twitterアカウント">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>ITS YOUR BRAND</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="./style.css" />
        <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
        <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
        <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
    </head>
    <body>
    	<nav class="navbar navbar-toggleable-sm navbar-gradation fixed" id="globalNavi">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
                <p class="navbar-toggler_text">MENU</p>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mr-auto ml-auto mt-md-2 mt-lg-0">
                    <li class="page_item"><a href="./support/index.html">SUPPORT</a></li>
                    <li class="page_item"><a href="./contact-us/index.html">CONTACT US</a></li>
                    <li class="page_item"><a href="./about-us/index.html">ABOUT US</a></li>
                    <a class="brand hidden-sm-down" href="./index.html">
                     <img class="logo img-fluid" src="./images/logo_red.svg" alt="logo">
                    </a>
                    <li class="page_item"><a href="./service/index.html">SERVICE</a></li>
                    <li class="page_item"><a href="./privacypolicy/index.html">PRIVACY POLICY</a></li>
                    <li class="page_item"><a href="./news/index.html">NEWS</a></li>
                    <li class="page_item"><a href="./philosophy/index.html">PHILOSOPHY</a></li>
                </ul>
            </div>
        </nav>
        <section id="skrollr-body">
            <header class="header" data-top="background-position:0% 0px;" data-top-bottom="background-position:0% 200px;">
                <div class="header_content" data-0="opacity:1;transform:translateY(0);" data-200-top-center="opacity:0;transform:translateY(-100px);">
                    <h1 class="hader_title">CREATE "NEW" BRAND</h1>
                    <div class="header_text">
                        <p class="header_text-body">FOR × REST</p>
                        <a href="./contact-us/" class="col-8 col-md-4 col-lg-2 btn btn-sm header_text_button-contact"><p class="header_text_button-text font-xs">CONTACT US</p></a>
                        <a href="./support/" class="col-8 col-md-4 col-lg-2 btn btn-sm header_text_button-corporation"><p class="header_text_button-text font-xs">FOR CORPORATION</p></a>
                    </div>

                </div>
            </header>
            <main id="main">
                <div class="introduction">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-9 col-md-4 col-lg-2 offset-3 introduction_title">
                                <h2 class="introduction_title-body" data--100-bottom-top="transform:translateX(calc(-1.75rem * 6));opacity:0;" data--100-bottom-bottom="transform:translateX(calc(-1.75rem * 3));opacity:1;"><span class="nowrap">WE MAKE</span><br><span class="nowrap" data-200-center-bottom="color:rgb(41,43,44)" data-300-top="color:rgb(54,108,1)"> NEW CONCEPT</span></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-6 offset-lg-7 col-md-4 introduction_text"  data-bottom-top="transform:translateX(calc(100px);opacity:0;" data-bottom-bottom="transform:translateX(0);opacity:1;">
                                <p class="introduction_text-body font-xxs">
                                    We are R<sup>2</sup> BRANDING COMPANY.<br clear="break_responsive">
                                    We create a forest as a rest space.<br clear="break_responsive">
                                    <br>
                                    Combining old existence with new technology,<br clear="break_responsive">
                                    we produce breakthrough concept that likely but didn't exist. <br clear="break_responsive">
                                    Then, we will implement sustainable society.<br clear="break_responsive">
                                    <br>
                                    It is biodiversity include human<br clear="break_responsive">
                                    that our goal is.<br clear="break_responsive">
                                </p>
                            </div>
                        </div>
                        <div class="introduction_brand">
                            <h2 class="font-xl introduction_brand-before" data-bottom-top="position:absolute;left:10vw;bottom:50vh;opacity:1" data-top="position:absolute;left:10vw;bottom:0;opacity:0">FOR</h2>
                            <h2 class="font-xl introduction_brand-after" data-bottom-top="position:absolute;left:70vw;bottom:0;opacity:1" data-top="position:absolute;left:40vw;bottom:0;opacity:0">REST</h2>
                        </div>
                    </div>
                </div>
                <div class="moreinfo"  data-bottom-top="background-position:0% -100px;" data-bottom="background-position:0% 0px;" data-top-bottom="background-position:0% 100px">
                    <div class="container-fluid">
                        <div class="moreinfo_border">
                            <h2 class="moreinfo_title font-xl" data-bottom-top="opacity:0;transform:translateY(-100px)" data-center-top="opacity:1;transform:translateY(0)"><span class="moreinfo_brand "> FOREST </span>× BRAND</h2>
                            <p class="moreinfo_title-sub font-sm" data-bottom-top="opacity:0;transform:translateY(-100px)" data-center-top="opacity:1;transform:translateY(0)">Our companie's service provide you with surprise</p>
                            <p class="moreinfo_text" data-bottom-top="opacity:0;transform:translateY(-100px)" data-center-top="opacity:1;transform:translateY(0)">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                            <a href="./philosophy/" class="btn btn-sm moreinfo_button col-4"><p class="moreinfo_button_text">MORE</p></a>
                        </div>
                    </div>
                </div>
                <div class="company">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 company_title">
                                <h2 class="company_title_body">
                                    COMPANY
                                </h2>
                            </div>
                            <div class="company_content col-12">
                                <div class="row">
                                    <div class=" col-12 col-sm-6 col-md-3">
                                        <a href="./service/" class="company_link first" data--100-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">
                                            <object>
                                                <div class="company_eachbox" data--100-bottom-top="transform:translateY(-100%);" data-bottom="transform:translateY(0);">
                                                    <div class="col company_content_image hidden-sm-down"></div>
                                                    <h3 class="company_content_title font-sm">Service</h3>
                                                    <p class="company_content_text font-xs"> Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. </p>
                                                    <a href="./service/" class="btn btn-sm col-4 company_content_more" data-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">MORE</a>
                                                </div>
                                            </object>
                                        </a>
                                    </div>
                                    <div class=" col-12 col-sm-6 col-md-3">
                                        <a href="http://127.0.0.1:4001/wordpress/about-us/" class="company_link" data--100-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">
                                            <object>
                                                <div class="company_eachbox" data--100-bottom-top="transform:translateY(-100%);" data-bottom="transform:translateY(0);">
                                                    <h3 class="company_content_title font-sm">About us</h3>
                                                    <p class="company_content_text font-xs"> Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                                                    <a href="./about-us/" class="btn btn-sm col-4 company_content_more" data-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">MORE</a>
                                                </div>
                                            </object>
                                        </a>
                                    </div>
                                    <div class=" col-12 col-sm-6 col-md-3">
                                        <a href="./contact-us/" class="company_link" data--100-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">
                                            <object>
                                                <div class="company_eachbox" data--100-bottom-top="transform:translateY(-100%);" data-bottom="transform:translateY(0);">
                                                    <h3 class="company_content_title font-sm">Message</h3>
                                                    <p class="company_content_text font-xs"> Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus.</p>
                                                    <a href="./contact-us/" class="btn btn-sm col-4 company_content_more" data-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">MORE</a>
                                                </div>
                                            </object>
                                        </a>
                                    </div>
                                    <div class=" col-12 col-sm-6 col-md-3">
                                        <a href="./support/" class="company_link last" data--100-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">
                                            <object>
                                                <div class="company_eachbox" data--100-bottom-top="transform:translateY(-100%);" data-bottom="transform:translateY(0);">
                                                    <h3 class="company_content_title font-sm">Access</h3>
                                                    <p class="company_content_text font-xs"> Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc, quis gravida magna mi a libero. Fusce vulputate eleifend sapien. Vestibulum purus quam, scelerisque ut, mollis sed,</p>
                                                    <a href="./support/" class="btn btn-sm col-4 company_content_more" data-bottom-center="background-color:rgb(240,240,240);" data-bottom="background-color:rgb(250,250,250);">MORE</a>
                                                </div>
                                            </object>
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-9 company_more-wrapper">
                                        <a href="./philosophy/" class="col company_more">
                                            <div class="company_more_above">
                                                <h2 class="company_more_title" data--100-bottom-top="transform:translateY(100%);" data--100-bottom="transform:translateY(0);"><span class="company_more_title-green">READ MORE</span><br>INFORMATION</h2>
                                                <p class="company_more_reccomend font-xs" data--100-bottom-top="transform:translateY(100%);" data--100-bottom="transform:translateY(0);">MORE</p>
                                            </div>
                                            <span class="company_more_line"></span>
                                            <div class="company_more_below">
                                                <p class="company_more_text" data--100-bottom-top="transform:translateY(-100%);" data--100-bottom="transform:translateY(0);">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-md-2 news">
                            <div class="news_title col-5 col-md-12 col-lg-7 offset-1">
                                <h2 class="news_title-body">NEWS <br><span class="nowrap"> & BLOG</span></h2>
                            </div>
                            <a href="./news/index.html" class="btn btn-sm col-8 news_button"><span data--100-bottom-top="transform:translateY(100%)" data--100-bottom="transform:translateY(0)">VIEW ALL</span></a>
                        </div>
                        <div class="col">
                            <div class="row">
                                <ul class="content">
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/photo-1497786591232-70290ec7c10b-min.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                             <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Oh, my hand</h2>					<p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">11月3日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/%e6%97%a5%e6%9c%ac%e8%aa%9e%e6%97%a5%e6%9c%ac%e8%aa%9e%e6%97%a5%e6%9c%ac%e8%aa%9e%e6%97%a5%e6%9c%ac%e8%aa%9e%e6%97%a5%e6%9c%ac%e8%aa%9e%e6%97%a5%e6%9c%ac%e8%aa%9e.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">日本語日本語日本語日本語日本語日本語</h2>	
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">10月1日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/%e3%81%93%e3%82%8c%e3%81%a7%ef%bc%93%ef%bc%90%e6%96%87%e5%ad%97%e3%81%93%e3%82%8c%e3%81%a7%ef%bc%93%ef%bc%90%e6%96%87%e5%ad%97%e3%81%93%e3%82%8c%e3%81%a7%ef%bc%93%ef%bc%90%e6%96%87%e5%ad%97%e3%81%93.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">これで３０文字これで３０文字これで３０文字これで３０文字これ</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">9月11日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/description_photo-min.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Hello,World!!</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">6月23日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/pexels-photo-207301-min.jpeg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Hi, I&#8217;m shy boy</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">6月23日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/photo-1497786591232-70290ec7c10b-min.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Oh, my hand&#8230;</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">6月23日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">New Location</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">6月23日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/001.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Column 6</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">5月19日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Column 5</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">5月19日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Column 4</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">5月19日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/002.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">test</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">5月19日</p>
                                            </a>
                                        </div>
                                    </li>
                                    <li class="content_bgr col-6 col-sm-4 col-md-3 col-lg-2" style="background-image:url(./images/discription_photo.jpg)">
                                        <div class="content_bgr_box">
                                            <a href="./news/oh-my-hand-2.html" class="content_bgr_href">
                                                <h2 class="content_bgr_box_title font-xs" data--100-bottom-top="transform:translateY(-100%)" data--100-bottom="transform:translateY(0)">Hello world!</h2>
                                                <p class="content_bgr_box_date font-xxs" data--100-bottom-top="transform:translateY(100px)" data--100-bottom="transform:translateY(0)">10月2日</p>
                                            </a>
                                        </div>
                                    </li>
                                </ul>                       
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                <p class="footer_text">
                    © 2017 Haruki Kawashita
                </p>
                </div>
            </main>
        </section>
        <script type='text/javascript' src='./main.js'></script>
        <script type='text/javascript' src='./js/skrollr.min.js'></script>
        <script type="text/javascript">
            $(function(){
               var s = skrollr.init();
           });
        </script>
    </body>