<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
	    <!--meta tag supported by google (check https://support.google.com/webmasters/answer/79812?hl=ja)-->
	    <meta name="Description" CONTENT="ここにページのディスクリプション">
	    <meta name="google-site-verification" content=""/>
	    <meta name="description" content="">
	    <meta name="keywords" content="">
	    <meta name="author" content="Haruki Kawashita">
	    <!--Setting ogp-->
	    <meta property="og:title" content="ここにタイトル" >
	    <meta property="og:type" content="ここにタイプ" >
	    <meta property="og:url" content="ここにページのURL" >
	    <meta property="og:image" content="ここにサムネイル画像のURL" >
	    <meta property="og:site_name" content="ここにサイト名" >
	    <meta property="og:description" content="ここにページのディスクリプション" >
	    <!--Facebook ogp-->
	    <meta property="fb:app_id" content="App-ID（15文字の半角数字）" >
	    <!--Twitter cards-->
	    <meta name="twitter:card" content="summary">
	    <meta name="twitter:site" content="@Twitterアカウント">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>slushDesign</title>
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
	    <link rel="stylesheet" href="./style.css" />
	    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
	    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js'></script>
	    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
	</head>
	<body>
		<nav class="navbar navbar-toggleable-sm navbar-global" id="globalNavi">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
                <p class="navbar-toggler_text">MENU</p>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav mt-md-2 mt-lg-0">
                    <a class="brand hidden-sm-down" href="./index.html">
                     <div class="logo">
                        <svg version="1.1" viewBox="0 0 228 200" xmlns="http://www.w3.org/2000/svg">
                            <g transform="translate(0,-97)">
                              <g transform="translate(-.20849 -.84277)">
                               <g transform="matrix(2.8826 0 0 2.8231 -45.906 -185)">
                                <path d="m16.112 135.8v-35.303l17.903 0.14483c19.383 0.15681 20.237 0.23319 26.821 2.3998 11.521 3.7912 19.625 13.346 21.786 25.687 1.1618 6.6341 0.428 15.14-1.783 20.666-3.8551 9.6362-11.41 16.794-20.982 19.879-5.2905 1.7054-7.0513 1.8295-25.968 1.8295h-17.776zm32.912 21.371c4.588-0.95993 9.3399-4.1841 11.729-7.9578 3.1758-5.0174 4.1015-14.609 2.0754-21.505-1.9004-6.4693-7.1123-11.273-13.943-12.851-1.2417-0.28685-4.9961-0.63184-8.343-0.76664l-6.0854-0.2451v44.311l6.0979-0.24441c3.3539-0.13441 7.165-0.46766 8.4692-0.74054z" style="fill:#cfcfcf;stroke-width:.35278"/>
                                <path d="m16.112 135.8v-35.304l17.551 0.14257c14.676 0.11922 18.057 0.2411 20.641 0.74413 8.7755 1.7084 14.109 4.423 19.488 9.9181 6.6395 6.7836 9.6229 15.196 9.2606 26.113-0.18572 5.596-0.98832 9.3179-2.903 13.462-5.0244 10.875-13.828 17.598-25.76 19.674-2.5934 0.45109-6.3901 0.55246-20.726 0.55338l-17.551 1e-3zm33.13 21.368c3.6211-0.87408 6.5524-2.4684 8.9749-4.8814 4.0866-4.0707 5.5886-8.3716 5.6249-16.107 0.01638-3.4892-0.14692-5.4227-0.61082-7.2319-1.4347-5.5957-4.9161-10.106-9.5441-12.364-3.7591-1.8345-6.0015-2.2698-12.969-2.5173l-6.2618-0.22249v44.317l6.2618-0.22336c3.6521-0.13028 7.2045-0.45093 8.5237-0.76938z" style="fill:#b1b1b1;stroke-width:.35278"/>
                                <path d="m16.112 135.84v-35.298h15.36c8.4479 0 16.901 0.16629 18.785 0.36953 14.679 1.5834 24.282 7.8985 29.748 19.564 2.3462 5.0067 2.9394 8.1643 2.9157 15.521-0.01711 5.3138-0.14141 6.7919-0.76164 9.0577-2.986 10.908-10.384 19.556-19.855 23.208-6.8073 2.6252-6.5762 2.602-27.407 2.7455l-18.785 0.12939zm33.338 21.337c7.2225-1.9056 11.847-6.5734 13.818-13.949 0.8576-3.2077 0.84617-11.276-0.0205-14.464-1.5245-5.6071-4.6088-9.6418-9.2129-12.052-3.8105-1.9946-5.89-2.4149-13.14-2.6559l-6.4382-0.21403v44.307l6.4382-0.20719c4.114-0.1324 7.2023-0.40881 8.5549-0.76568z" style="fill:#909090;stroke-width:.35278"/>
                                <path d="m16.112 135.81v-35.329l17.374 0.16498c18.702 0.17758 20.042 0.29098 26.367 2.2299 11.166 3.4231 19.037 11.701 22.103 23.247 0.84081 3.1661 0.93682 4.153 0.94356 9.6984 0.0067 5.5607-0.08419 6.5157-0.91608 9.6196-2.7807 10.375-10.069 18.872-19.479 22.708-6.5054 2.6522-7.0079 2.7038-27.784 2.8548l-18.609 0.13519zm33.668 21.348c3.4535-0.95536 6.183-2.5514 8.6674-5.0683 3.7048-3.7532 5.174-7.6112 5.5237-14.505 0.45112-8.8941-2.2636-15.713-7.8189-19.64-4.1486-2.9326-8.5589-3.977-16.845-3.9889l-4.8507-7e-3v44.196l6.6146-0.20385c4.4834-0.13816 7.2894-0.39052 8.709-0.78324z" style="fill:#6f6f6f;stroke-width:.35278"/>
                                <path d="m16.112 135.79v-35.311l17.198 0.1756c18.05 0.18429 19.509 0.29712 25.654 1.983 11.736 3.2198 20.542 12.482 23.127 24.326 2.5479 11.674 0.08577 22.968-6.9143 31.717-5.2571 6.5706-13.13 10.722-22.842 12.045-1.6297 0.22205-9.6098 0.37598-19.491 0.37598h-16.731zm33.867 21.381c6.8285-2.1158 11.469-6.8122 13.25-13.41 0.89185-3.3039 1.0701-10.032 0.36046-13.605-1.566-7.8839-6.4243-13.224-13.979-15.365-1.2674-0.35914-4.1822-0.61138-8.5389-0.73893l-6.6146-0.19366v44.281l6.791-0.18399c4.975-0.1348 7.3098-0.34476 8.7312-0.78519z" style="fill:#4e4e4e;stroke-width:.35278"/>
                                <path d="m16.112 135.81v-35.339l17.022 0.17973c15.159 0.16006 17.446 0.25864 20.902 0.90115 4.0672 0.75612 8.5489 2.1185 10.936 3.3243 6.9442 3.5078 13.091 10.342 15.678 17.431 4.4179 12.105 2.5887 25.863-4.6978 35.333-2.2149 2.8784-6.3985 6.6886-9.0767 8.2666-2.9573 1.7424-7.1375 3.3431-11.076 4.2412-2.9305 0.66824-4.5809 0.73467-21.431 0.86257l-18.256 0.13858zm31.366 21.868c8.5965-1.3948 14.348-6.8474 16.057-15.223 0.69387-3.4 0.70636-9.5513 0.02598-12.803-1.1426-5.4607-4.2745-9.9677-8.8197-12.692-3.8218-2.2905-5.8519-2.73-13.494-2.9209l-6.791-0.16962v44.181l5.3799-3e-3c2.9589-1e-3 6.3976-0.16779 7.6414-0.36962z" style="fill:#2e2e2e;stroke-width:.35278"/>
                                <path d="m16.112 135.8v-35.342l16.492 0.17864c17.732 0.19209 20.595 0.43046 26.815 2.2328 8.6919 2.5188 15.787 8.4169 19.821 16.478 2.1037 4.2034 3.0781 7.7755 3.5321 12.949 0.96492 10.996-2.2361 20.64-9.3556 28.187-4.4495 4.7167-10.479 7.9999-17.617 9.5924-3.3429 0.74585-4.4752 0.7944-21.608 0.92641l-18.08 0.13931zm32.632 21.712c7.7033-1.6173 13.175-7.0936 14.813-14.825 0.70108-3.3097 0.68418-10.11-0.03309-13.326-1.5747-7.0601-5.8739-11.872-12.724-14.24-2.5432-0.87935-3.2983-0.9665-9.5525-1.1025l-6.791-0.14764v44.172l5.909-6e-3c3.8201-4e-3 6.782-0.18941 8.3785-0.52459z" style="stroke-width:.35278"/>
                               </g>
                               <rect x="85.735" y="182.74" width="142.72" height="30.201" style="stroke-width:.43019"/>
                              </g>
                            </g>
                        </svg>

                     </div>
                    </a>
                    <li class="page_item"><a class="navbar_text font-xs" href="./support/index.html">SUPPORT</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./about-us/index.html">ABOUT US</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./service/index.html">SERVICE</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./philosophy/index.html">PHILOSOPHY</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./contact-us/index.html">CONTACT US</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./news/index.html">NEWS</a></li>
                    <li class="page_item"><a class="navbar_text font-xs" href="./privacypolicy/index.html">PRIVACY POLICY</a></li>
                </ul>
            </div>
        </nav>
        <section id="skrollr-body">
        	<main>
        		<header data-0="">
        			<div class="header flex">
                        <div class="header_wrapper">
        				<h1 class="header_title">DYNAMIC</h1>
                        <p class="header_text font-lg">ACROBAT WEB DESIGN</p>
                        </div>
        				<div class="header_img"></div>
        			</div>
        		</header>
                <section id="aboutUs">
                    <div class="wrapper container-fluid">
                        <div class="row">
                            <img src="./images/backphoto.jpeg" class="about_img">
                            <div class="col-12 col-md-4 offset-md-8 about_content">
                                <div class="about_content_wrapper">
                                    <h1 class="inline_right font-lg about_title">ABOUT</h1>
                                    <span class="rod float_right"></span>
                                    <p class="about_description inline_right font-md">
                                        THIS IS DESIGN FOR WEB SITE
                                    </p>
                                    <p class="inline_right font-xs">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                                    </p>
                                    <a href="#" class="btn btn-lg float_right about_btn" type="button">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="service">
                    <div class="wrapper container-fluid">
                    	<div class="row">
                            <img src="./images/backphoto.jpeg" class="service_img">
                    		<div class="col-12 col-md-8 service_content">
                    			<div class="row service_content_wrapper">
                    				<div class="col-6">
	                    				<h1 class="inline_left font-lg service_title">SERVICE</h1>
	                                    <span class="rod float_left"></span>
	                                    <p class="font-xs inline_left">
	                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
	                                    </p>
	                                    <a href="#" class="btn btn-lg float_left service_btn" type="button">VIEW ALL</a>
                                    </div>
                                    <div class="col-12">
	                                    <div class="row service_list">
	                                    	<div class="col-4">
		                                    	<h2 class="service_title">1.WEB SITE</h2>
		                                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
		                                    	<a href="#" class="btn btn-md service_btn" type="button">READ MORE</a>
	                                    	</div>
	                                    	<div class="col-4">
		                                    	<h2 class="service_title">2.SEO</h2>
		                                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
		                                    	<a href="#" class="btn btn-md service_btn" type="button">READ MORE</a>
	                                    	</div>
	                                    	<div class="col-4">
		                                    	<h2 class="service_title">3.BRANDING</h2>
		                                    	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
		                                    	<a href="#" class="btn btn-md service_btn" type="button">READ MORE</a>
	                                    	</div>
	                                    </div>
                                    </div>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                </section>
                <section id="member">
                    <div class="wrapper container-fluid">
                    	<div class="row">
                            <img src="./images/backphoto.jpeg" class="member_img">
                    		<div class="col-12 col-md-8 offset-md-4 member_content">
                    			<div class="row member_content_wrapper">
                    				<div class="col-6 offset-6">
	                    				<h1 class="inline_right font-lg title">MEMBER</h1>
	                                    <span class="rod float_right"></span>
	                                    <p class="font-xs inline_right">
	                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
	                                    </p>
	                                    <a href="#" class="btn btn-lg float_right member_btn" type="button">VIEW ALL</a>
                                    </div>
                                    <div class="col-12">
	                                    <ul class="row member_list">
	                                    	<li class="col-3 member_list_item">
	                                    	</li>
	                                    	<li class="col-3 member_list_item">
	                                    	</li>
	                                    	<li class="col-3 member_list_item">
                                            </li>
                                            <li class="col-3 member_list_item">
                                            </li>
	                                    </ul>
                                    </div>
                    			</div>
                    		</div>
                    	</div>
                    </div>
                </section>
                <section id="recruit">
                    <div class="wrapper container-fluid">
                        <div class="row">
                            <img src="./images/backphoto.jpeg" class="recruit_img">
                            <div class="col-6 recruit_content">
                                <div class="recruit_content_wrapper">
                                    <h1 class="inline_left font-lg title">RECRUIT</h1>
                                    <span class="rod float_left"></span>
                                    <p class="font-xs inline_left">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                                    </p>
                                    <ul class="recruit_list">
                                        <li class="recruit_list_item font-md">WORK TIME : EERY TIME</li>
                                        <li class="recruit_list_item font-md">HOLIDAY : NO HOLIDAY</li>
                                        <li class="recruit_list_item font-md">PAYMENT : 100YEN/YEAR</li>
                                        <li class="recruit_list_item font-md">WELFARE : NOTHING</li>
                                    </ul>
                                    <a href="#" class="btn btn-lg float_left recruit_btn" type="button">VIEW ALL</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="contactUs">
                    <div class="wrapper container-fluid">
                        <div class="row">
                            <div class="contact_img"></div>
                            <div class="contact_content col-6 offset-3">
                                <div class="contact_content_wrapper">
                                    <h1 class="font-lg contact_title">CONTACT US</h1>
                                    <span class="rod"></span>
                                    <p class="font-xs contact_text">
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. 
                                    </p>
                                    <a href="#" class="contact_btn btn btn-lg" type="button">お問い合わせ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        	</main>
        	<footer>
                <div class="footer container-fluid">
                    <p class="footer_text font-xxs">© 2017~ Haruki Kawashita</p>
                </div>
        	</footer>
        </section>
        <script type='text/javascript' src='./js/jquery.inview.min.js'></script>
        <script type='text/javascript' src='./js/skrollr.min.js'></script>
        <script type='text/javascript' src='./js/main.js'></script>
	</body>
</html>